<%- include ../../partials/head ;%>
<div class="pt-2">
  <h2 class="text-black">EDIT SNIPPET</h2>
</div>
<div class="w-25 mx-auto row align-items-center justify-content-center pt-4">
<form action="" method="post" class="w-100">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <label for="tags" class="float-left quicksand">TAGS <em>[seperated by comma]</em></label>
  <input type="text" class="form-control" name="tags" value="<%= tags %>" id="tags" placeholder="tags">
  <div class="form-group">
    <label for="code" class="float-left pt-3 quicksand">CODE</label>
    <textarea class="form-control" name="code" value="<%= code %>" id="code" cols="5" rows="8"><%= code %></textarea>
  </div>
  <button class="btn btn-info btn-block" type="submit">EDIT</button>
</form>
</div>